<h1>This app will convert numerals to words</h1>

<form action='/words'>
	<div class="form-group">
		<label for "numerals">Input a number from 0 to 9999999999999:</label>
		<input id="numerals" name="numerals" class="form-control" type="number" min="0" max="9999999999999">
	</div>
	<button type="submit" class="btn">Send</button>
</form>
